body {
    font-family: "Roboto";
    margin: 0px;
    padding: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-areas: 
        "header header header header header"
        "image image image image image"
        ". content content content ."
        "footer footer footer footer footer";
}

.grid-item-1 {
    grid-area: header;
    background-color: black;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0px;
}

.theater {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 5%;
}

.theater a {
    color: white; 
    text-decoration: none;
    padding: 15px;
    font-size: 26px;
}

.header-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 100%;
    margin: -40px;
    margin-right: 360px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 18px;
}

.header-links a {
    color: white; 
    text-decoration: none;
    padding: 15px;
    font-size: 12px;
}

.grid-item-2 {
    grid-area: image;
    display: flex;
    flex-direction: column;
}

.background {
    z-index: -1;
    position: fixed;
    width: 100%;
    margin-top: 90px;
    height: 800px;
}

.featshows {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 160px;
    margin-top: 390px;
}