body {
    font-family: "Roboto";
    margin: 0px;
    padding: 0px;
    overscroll-behavior: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-areas: 
        "header header header header header"
        "image image image image image"
        ". content content content ."
        "footer footer footer footer footer";
}

.grid-item-1 {
    grid-area: header;
    background-color: black;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    top: 0px;
}

.theater {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 7%;
}

.theater a {
    color: white; 
    text-decoration: none;
    padding: 43px;
    font-size: 50px;
}

.theater a:hover {
    color: rgb(188, 158, 161);
}

.header-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;
    margin-right: 150px;
    padding-top: 25px;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-links a {
    color: white; 
    text-decoration: none;
    font-size: 20px;
}

.header-links a:hover {
    color: rgb(104, 162, 179);
}

.grid-item-2 {
    margin-top: -20px;
    grid-area: image;
    position: relative;
}

.background {
    width: 100%;
    height: auto;
}

.featshows {
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 155px;
    font-size: 161px;
}

.grid-item-3 {
    grid-area: content;
}

p.month {
    border-style: ridge;
    border-color: rgb(193, 193, 193);
    background-color: #f7f7f7;
    padding: 4px;
    font-size: 24px;
    text-indent: 50px;
    margin-top: 80px;
}

.middle-page {
    display: flex;
    flex-direction: column;
}

.posts {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid rgb(193, 193, 193);
    border-width: thin;
    padding-bottom: 25px;
}

.theater-image {
    margin-left: 15px;
    width: 250px;
}

.text {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 20px;
}

.first-line {
    font-size: 25px;
    margin-top: -20px;
}

.second-line {
    font-size: 20px;
    margin-top: -40px;
}

.other-lines {
    font-size: 18px;
    margin-top: -40px;
}

button {
    margin-left: 280px;
    color: white;
    background-color: #ebb625;
    border-style: solid;
    border-color: rgb(193, 193, 193);
    height: 55px;
    margin-top: 90px;
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
}

.last {
    border: none;
    padding-bottom: 40px;
}

.grid-item-4 {
    grid-area: footer;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    padding-bottom: 18px;
}

.mapimg {
    width: 400px;
    display: flex;
    margin-left: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 110px;
    gap: 14px;
}

.info-text {
    font-size: 35px;
}

i {
    font-size: 25px;
    color: rgb(167, 109, 4);
    margin-right: 10px;
}

.tiny {
    font-size: 20px;
}

.shows {
    display: flex;
    flex-direction: column;
    margin-left: 125px;
    gap: 17px;
}

.shows-text {
    font-size: 35px;
}

.social {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    gap: 15px;
}

.social-text {
    font-size: 35px;
}